<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
      <a mat-list-item routerLink="/temperatures" routerLinkActive="active">Tempreratures</a>
      <a mat-list-item routerLink="/authors" routerLinkActive="active">Authors</a>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

    <!-- end of content -->
  </mat-sidenav-content>
</mat-sidenav-container>

