<mat-toolbar color="primary">
    <span>Books</span>
  </mat-toolbar>
 

<mat-expansion-panel  *ngFor = "let book of books">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
      <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
    </mat-expansion-panel-header>
  
    <p> by {{book.author}}</p>
  
  </mat-expansion-panel>
