<mat-card>
    <h1>New post</h1>
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Post title" [(ngModel)]="title" name="title">
            </mat-form-field>
            <mat-form-field style="padding: 0 10px 0 10px;"><!--הראשון והשלישי מגדירים רווח למעלה ולמטה, השני והרביעי מגדירים רווח מימין ומשמאל- זה בסטייל-->
                <input matInput placeholder="Post author" [(ngModel)]="author" name="author">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Post body" [(ngModel)]="body" name="body">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!addForm.form.valid">{{buttonText}}</button>
             <button mat-raised-button [routerLink]="'/posts'">Cancel</button> 
            </div>
        </div>
    </form>
</mat-card>