
<mat-toolbar color="primary">
        <span>Edit Author</span>
      </mat-toolbar>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">
            <label for="nameOfauthor">Name of the author </label>
            <br><br>
            <input 
                type="text" 
                placeholder="{{name}}"
                name="editName"
                ngModel
                required
                class="form-control">
        </div>
        
        <button class="change" mat-raised-button type="submit">Change</button>
    
    </form>

    <style>
    .form-group{
padding-top: 50px;
padding-left: 20px;

    }

    .change{
        padding-left: 20px;
        padding-top: 10px;   
    }
    
    
    </style>
