<mat-toolbar color="primary">
        <span>Posts</span>
      </mat-toolbar>
      <br>

      <div class="example-button-row">
        <button 
           mat-raised-button color="primary"  [routerLink]="'/add_post'"> Add post
        </button>
      </div>
<br>
  <!-- <button   class="change"  (click) = "addPPostsToFirestore()" mat-raised-button >Save to firestore</button>    -->
      <mat-accordion>
  <mat-expansion-panel  *ngFor="let item of posts$ | async"><!--מציגים את הנתונים שנמצאים במשתנה Posts$ -->
        <mat-expansion-panel-header>
          <mat-panel-title>
           <b> {{ item.name }}</b><!--item כמו i-->
          </mat-panel-title>
           <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ item.body }} </p>
        <br>
        Author: {{item.author}}
        <div>
          <button mat-raised-button (click)=deletepost(item.id)  color="primary" >Delete </button>
         
        
          <button mat-raised-button [routerLink]="'/add_post/' + item.id" routerLinkActive="active" color="primary" >Edit </button>
        </div>
      
     

      <!-- <div *ngFor="let us of User$">
        <div *ngIf = "us.id == item.userId;other">Author: {{us.name}}</div>
      </div> -->
    </mat-expansion-panel>
  </mat-accordion>

     
    