<mat-toolbar color="primary">
  <span>Authors</span>
</mat-toolbar>
<p *ngIf="!(authors$ | async)">Loading...</p>
<!--אם הספרים שהם משתנים מסוג אסיכרוני לא שווים לנל כלומר עוד לא קיבלו נתונים מהסרביס תציג טעינה-->

<mat-nav-list>
  <mat-list-item *ngFor="let author of authors$ | async">
    <a matLine>{{ author.name }}</a>
    <button mat-icon-button [routerLink]="['/editauthor',author.id,author.name]" routerLinkActive="active">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-checkbox (change)="toggle($event)"></mat-checkbox>
  </mat-list-item>
  <mat-list-item>
    <!--הוספת אייטם כדי שיהיה חלק מהליסט-רשימה-->
    <!-- <a matLine>hello</a> -->
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" style="width:100%">
      <div style="display: flex;justify-content: space-between">
        <!--מפריד בין הכפתור לשדה-->
        <input type="text" placeholder="Add a new author" name="authorName" ngModel required class="form-control">
        <button class="change" mat-raised-button type="submit" style="background-color: cadetblue;color: white;">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </mat-list-item>
</mat-nav-list>

<p>
  Options selected: {{countChecks}}
</p>